.newPost {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  margin: 20px 0;
  padding: 15px 12px;
  position: relative;
}

.newPost textarea {
  border: none;
  outline: none;
  font-size: 16px;
  padding-bottom: 15px;
  resize: none;
  height: 55px;
}

.newPost button {
  width: 80px;
  border: none;
  border-radius: 15px;
  padding: 5px 0;
  background-color: #000;
  color: #fff;
}
.newPost button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
